#layout
  #menu
    .pure-menu.pure-menu-open
      %a.pure-menu-heading{href: "/"}
        = image_tag 'title-small.gif'
      %ul
        %li.pure-menu-selected
          %a{href: "http://purecss.io/base/"} Sequence
        %li
          %a{href: "http://purecss.io/grids/"} Instruments
        %li
          %a{href: "http://purecss.io/forms/"} Effects
        %li
          %a{href: "http://purecss.io/tables/"} Mastering
        %li.menu-item-divided
          %a{href: "http://purecss.io/layouts/"} Discussion
        %li
          %a{href: "http://purecss.io/customize/"} Explore
        %li
          %a{href: "http://purecss.io/extend/"} Promote
        %li
          %a{href: "http://blog.purecss.io/"} Blog
        %li
          %a{href: "https://github.com/yui/pure/releases/"} How-To
        %li.menu-item-divided
          %a{href: "http://yui.github.io/skinbuilder/?mode=pure"} About
        %li
          %a{href: "http://yuilibrary.com/"} Contact
